#autocomplete-list {
  position: absolute;
  top: 35px;
  z-index: 99;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  max-height: 450px;
}

.autocomplete-item {
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  background: #fff;
  border: 1px solid #ced4da;
  border-top: none;
}

.autocomplete-item:hover {
  background: #f8f9fa;
}
